body{
    background-color: #4E4E4E;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table th {
    background-color: black;
}

table tr:nth-child(even) {
    background-color: white;
}
