<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo_menu.css')}}">
    <title>TechStock | MENU</title>
</head>
<body>
    <h1>ㅤ</h1>
    <div class="bt_estoq">
        <a href="/estoque">
            <img src="{{ url_for('static', filename='estoque.png')}}">
        </a>
    </div>
    
    </div>
    <div class="bt_pvd">
        <a href="{{ url_for('static', filename='pvd.png')}}">
            <img src="{{ url_for('static', filename='pvd.png')}}" >
        </a>
    </div>
    </div>
    <div class="bt_vendas">
        <a href="{{ url_for('static', filename='vendas.png')}}">
            <img src="{{ url_for('static', filename='vendas.png')}}">
        </a>
    </div>
    <div class="bt_nfs">
        <a href="/notas">
            <img src="{{ url_for('static', filename='nfs.png')}}">
        </a>
    </div>
</body>
</html>